<ng-container>
    <div [ngClass]="cardClasses()">
        <!-- for select we can use css selector and also the tag -->
        <ng-content select=".course-title"></ng-content>

        @if(course.id === 1) {
        <h2> Course with Id 1 detected ... </h2>
        }
        @else if(course.iconUrl){
        <img width="300" alt="Angular Logo" [src]="course.iconUrl">
        }
        @else {
        <h2> No Image available ... </h2>
        }

        <div class="course-description">
            {{ course.longDescription }}
        </div>

        <div class="course-category">
            @switch(course.category) {
            @case('BEGINNER') {
            <div class="category"> Beginner </div>
            }
            @case('INTERMEDIATE'){
            <div class="category"> Intermediate </div>
            }
            @case('ADVANCED') {
            <div class="category"> Advanced </div>
            }
            @default {
            <div class="category"> Unkwown </div>
            }
            }
        </div>

        <button (click)="onCourseViewed()"> View Course </button>

    </div>
</ng-container>

<!-- adding ng-container instead of wrapping the parent in the div -->