<div class="top-menu">

  <img class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

  </div>

  <div>

    <div class="courses" *ngIf="courses$ | async as courses">

      @for (course of courses; track course) {
        <course-card
          [course]="course">
        <course-image [src]="course.iconUrl"></course-image>
      </course-card>
    }

  </div>


</div>


<!-- in order to prevent memory links we should use the async pipes we can use it, because it will unsubscribe automatically  -->



